{#
/**
 * @file
 * Default theme implementation to display a formatted threejs field.
 *
 * Available variables:
 * - container_id: HTML id attribute for WebGL container.
 *
 * @see template_preprocess_threejs_field_formatter()
 *
 * @ingroup themeable
 */
#}
{% if item %}
  <div id="{{ item.container_id }}"></div>
{% endif %}
